@import "base/variable";
@import "base/fonts";


* {
	font-family: 'Museo Sans', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	max-width: 940px;
	margin: 0 auto;
}

.title {
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
}

.subtitle {
	font-size: 24px;
	font-weight: 500;
}
@import "block/buttons";
@import "block/promo";
@import "block/header";
@import "block/advantages";
@import "block/consultation";
@import "block/forms";


@import "block/media";
