.header {    
    display: flex;
    justify-content: space-between;
    &__logo {
        max-width: 251px;
        img {
            width: 100%;
        }
    }
    &__official {
        color: $lait-color;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        span {
            display: block;
            margin-top: 10px;
            font-size: 18px;
            font-weight: 700;
        }
    }
    &__contacts {        
        color: $lait-color;
        font-size: 18px;
        font-weight: 700;
        text-align: right;
        a {
            display: block;
            margin-bottom: 10px;
        }
    }
}