@media (max-width: 768px) {
    .container {
        padding: 0;
    }
    .advantages {
        &__wrapper {
        padding: 0 10px;
        }
        &__item {
            max-width: 240px;
        }
    }
    .consultation {
        padding: 50px 20px;
        min-height: 600px;
        &_subtitle {
            margin-top: 30px;
        }
    }
}

@media (max-width: 575px) {    
    .header {
        &__official {
            display: none;
        }
        &__contacts {
            font-size: 14px;
        }
        &__logo {
            padding-right: 20px;
        }
    }
    .button {
        width: 122px;
        font-size: 10px;
    }
    .title {
        font-size: 22px;
        text-align: center;
    }
    .subtitle {
        font-size: 12px;
        text-align: center;
    }
    .promo {
        height: 460px;    
        padding: 10px;
        &_title {
            padding-top: 50px;
        }
        &__wrapper {
            align-items: center;
        }
        &__icons {
            width: 300px;
            justify-content: center;
            margin-top: 40px;
        }
        &__icon {
            font-size: 13px;
        }
        &_btn {
            width: 200px;
            font-size: 12px;
            margin-top: 40px;
        }
    }
    .advantages {
        padding: 20px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
        &__item {
            min-width: 290px;
            margin-top: 30px;
            &-header {
                margin: 15px 0 10px 0;
            }
        }
    }
    .form {
        margin-top: 20px;
        input {
            margin: 15px auto 0 auto;            
        }
    }
    .consultation {
        padding: 20px 0;
        min-height: 465px;
        &_btn {
            display: block;
            width: 300px;
            height: 55px;
            border-radius: 5px;
            font-size: 16px;
            margin: 20px auto 0 auto;
        }
        &_subtitle {
            margin-top: 20px;
            font-size: 14px;
        }
    }
}